.topHeader {
    background-image: linear-gradient(180deg, orange, purple);
    max-width: 100% !important;
    padding: 100px;
}
.orangLine {
    background-image: linear-gradient(180deg, orange, orangered);
    max-width: 100% !important;
}
.mainCont {
    max-width: 100% !important;
}
.navText {
    text-decoration: none;
}
.navText:hover {
    text-decoration-line: underline;
}
h2.chapH {
    padding-top: 20px;
}
p {
    padding-top: 70px;
    padding-bottom: 5px;
}
img {
    border-style:groove;
}
.codeP {
    padding-bottom: 10px;
}
.lightCode {
    background-color: gainsboro;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.darkCode {
    background-color: rgb(21, 21, 21);
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}